{{/*
  GetEventVenue
  Retrieve the venue of a given event

  @author @regisphilibert

  @context Page (.)

  @access public

  @returns See tnd-events/private/ParseVenue@returns

  @uses
     - tnd-events/private/GetParamsKey
     - tnd-events/private/ParseVenue

  @example - Go Template
    {{ with partialCached "GetEventVenue" . . }}
      {{ something = . }}
    {{ end }}
*/}}
{{ $venue := "" }}
{{ $venue_keys := partialCached "tnd-events/private/GetParamsKey" "venue" "venue" }}
{{/* Even if not advertised we can look for several param keys in case a project venues are refered differently
  from one event to the next. */}}
{{ if not (reflect.IsSlice $venue_keys) }}
  {{ $venue_keys = slice $venue_keys }}
{{ end }}
{{ range $venue_keys }}
  {{ with index $.Params . }}
    {{ with partialCached "tnd-events/private/ParseVenue" . . }}
      {{ $venue = . }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* If we did not find any venue attached to the event, we resolve to looking for 
  the default venue as set in the module configuration. */}}
{{ if not $venue }}
  {{ with partialCached "tnd-events/private/GetDefaultVenue" "GetDefaultVenue" }}
    {{ $venue = . }}
  {{ end }}
{{ end }}

{{ return $venue }}