{{/*
  ParseEvent
  Structure Data for any given Page

  @author @regisphilibert

  @context Page

  @access private

  @returns Map
    String (.name | .title)
    Map (.start)
      Date (.raw)
      String (.rendered)
      String (.date)
      String (.time)
    Map (.end)
      Same structure as .start
  @uses
     - tnd-events/private/GetDateTimeFormats

  @example - Go Template
    {{ with partialCached "ParseEvent" context context }}
      {{ something = . }}
    {{ end }}
*/}}
{{ $s := newScratch }}
{{ with .Title }}
  {{ $s.SetInMap "data" "title" . }}
  {{ $s.SetInMap "data" "name" . }}
{{ end }}
{{ $start := "" }}
{{ $end := "" }}
{{ $formats := partialCached "tnd-events/private/GetDateTimeFormats" "GetDateTimeFormats" }}
{{ with .RelPermalink }}
  {{ $s.SetInMap "data" "URL" . }}
{{ end }}
{{ with .Date }}
  {{ $start = . }}
{{ end }}
{{ with .Params.time_start }}
  {{ $start = . }}
{{ end }}
{{ with .Params.time_end }}
  {{ $end = . }}
{{ end }}
{{ range $key, $value := dict "start" $start "end" $end }}
  {{ with $value }}
    {{ $date := dict "raw" . "rendered" (. | dateFormat $formats.datetime) "date" (. | dateFormat $formats.date) "time" (. | dateFormat $formats.time) "datetime" (. | dateFormat $formats.datetime) }}
    {{ $s.SetInMap "data" $key $date }}
  {{ end }}
{{ end }}

{{ return $s.Get "data" }}