{{ $s := newScratch }}
{{ with .Title }}
  {{ $s.SetInMap "data" "title" . }}
{{ end }}
{{ $start := "" }}
{{ $end := "" }}
{{ $formats := partialCached "tnd-events/private/GetDateTimeFormats" "GetDateTimeFormats" }}
{{ with .Date }}
  {{ $start = . }}
{{ end }}
{{ with .Params.time_start }}
  {{ $start = . }}
{{ end }}
{{ with .Params.time_end }}
  {{ $end = . }}
{{ end }}
{{ range $key, $value := dict "start" $start "end" $end }}
  {{ with $value }}
    {{ $date := dict "raw" . "rendered" (. | dateFormat $formats.datetime) "date" (. | dateFormat $formats.date) "time" (. | dateFormat $formats.time) "datetime" (. | dateFormat $formats.datetime) }}
    {{ $s.SetInMap "data" $key $date }}
  {{ end }}
{{ end }}

{{ return $s.Get "data" }}